.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.first-background{
  width: 30%;
  background: rgb(84,46,236);
  background: linear-gradient(139deg, rgba(84,46,236,1) 12%, rgba(104,87,174,1) 56%, rgba(53,43,92,1) 75%);
  height: 100vh;
}
.form-contain{
  width: 70%;
  height: 100vh;
  background: #fff;
}